<h1><%= @product.name %></h1>

<h2><%= @product.description %></h2>

<%= render 'form' %>

<p><%= link_to "Delete", product_path(@product),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
